@charset "UTF-8";
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Quicksand Bold";
  src: url("../fonts/Quicksand-Bold.ttf");
}
.form-contacto {
  font-family: "Quicksand";
  font-size: 16px;
  letter-spacing: 2px;
  color: hsl(0deg, 0%, 100%);
}

form {
  width: 400px;
  margin: 2rem auto;
  text-align: center;
  padding: 20px;
  border: 1px solid hsla(0deg, 0%, 25%, 0.8);
  border-radius: 5px;
  -webkit-animation: form 1s ease-in-out;
          animation: form 1s ease-in-out;
}

/* Estilos para los labels */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilos para los inputs y textarea */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Estilos para el botón de submit */
input[type=submit] {
  width: 100%;
  background-color: hsl(36deg, 98%, 50%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: hsl(36deg, 100%, 45%);
}

@-webkit-keyframes form {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes form {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=contacto.css.map */