.acercade {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 10rem;
}

.texto {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

iframe {
    width: 50rem;
    height: 32rem;
    border-radius: 15px;
    border-color: hsl(36, 99%, 29%);
}

@media (max-width: 1100px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}